%divider {
  &:after {
    content: url(../../public/images/divider.svg);
    @include flex;
    margin: 54px 0;
    padding: 8px 0;
  }
}

%divider-hr {
  @include flex;
  margin: 54px 0;
  padding: 8px 0;
  background-image: url(../../public/images/divider.svg);
  background-repeat: no-repeat;
  background-position: center;
  border: none;
}
