.link-outlined-arrow {
  @include inline-flex;
  @include text-style(button);
  padding: 0 16px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba($white, 0.6);
  background-color: rgba($ghost-white, 0.1);
  backdrop-filter: blur(12px);

  svg {
    position: relative;
    top: 2px;
    margin-left: 8px;
    background-color: transparent;
  }

  @include responsive(D) {
    padding: 0 24px;
    height: 48px;
  }
}

.link-ghost-arrow {
  @include flex(start);
  @include text-style(button);

  .icon-arrow {
    @include flex;
    padding-left: 16px;
  }

  &:focus {
    opacity: 0.6;
    transition: opacity 350ms cubic-bezier(0.47, 0, 0.745, 0.715);
  }

  &:hover {
    opacity: 0.6;
    transition: opacity 350ms cubic-bezier(0.47, 0, 0.745, 0.715);
  }

  @include responsive(T) {
    font-size: 20px;
  }
}
