.link-outlined-arrow {
  @include inline-flex;
  @include text-style(button);
  padding: 0 $spacing-r-16;
  height: 40px;
  border-radius: $spacing-p-4;
  border: 1px solid rgba($white, 0.6);
  background-color: rgba($ghost-white, 0.1);
  backdrop-filter: $blur-24;

  svg {
    position: relative;
    top: 2px;
    margin-left: $spacing-r-8;
    background-color: transparent;
  }

  @include responsive(T) {
    padding: 0 $spacing-r-24;
    height: $spacing-p-48;
  }
}

.link-ghost-arrow {
  @include flex(start);
  @include text-style(button);
  transition: opacity 350ms $ease-in-out-quart;

  .icon-arrow {
    @include flex;
    padding-left: $spacing-r-16;
    transition: transform 250ms $ease-in-out-quart;
  }

  &:hover,
  &:focus {
    opacity: 0.9;

    .icon-arrow {
      transform: translate3d(4px, -4px, 0);
    }
  }

  @include responsive(T) {
    font-size: 20px;
  }
}
