.sidebar {
  width: 100%;

  &-wrapper {
    @include flex(between);
    height: 64px;
  }

  &-logo {
    padding: 8px;

    a {
      @include flex;
    }
  }

  &-nav {
    &-list {
      @include flex;

      a {
        @include flex;
        transition: all 400ms 200ms ease-in-out;

        &:hover {
          font-weight: 600;
          opacity: 1;
        }
      }

      .menu-active {
        font-weight: 600;
        opacity: 1;
      }

      .menu-inactive {
        font-weight: 300;
        opacity: 0.4;
      }

      &-item {
        @include text-style(button);
        position: relative;
        padding: 8px 12px;

        .menu-dynamic-bg {
          position: absolute;
          inset: 0;
          border-radius: 4px;
          background-color: rgba($ghost-white, 0.1);
        }
      }
    }
  }

  @include responsive(T) {
    height: 100vh;

    &-wrapper {
      @include column-flex(start, start);
      height: 100%;
    }

    &-logo {
      margin-bottom: 36px;
    }

    &-nav {
      &-list {
        @include column-flex(start, start);
        margin-bottom: 36px;
      }
    }

    &-links {
      .email {
        @include text-style(link);
        display: inline-block;
        position: relative;
        margin-bottom: 36px;
        padding: 8px 12px;
        border-radius: 4px;

        &::after {
          content: url(../../public/images/link-underline.svg);
          position: absolute;
          top: 12px;
          left: 12px;
        }

        &:hover {
          transition: background-color 350ms cubic-bezier(0.47, 0, 0.745, 0.715);
          background-color: rgba($green, 0.6);

          &::after {
            transition: opacity 150ms ease-in-out;
            opacity: 0;
          }
        }

        @keyframes bg-expand {
          0% {
          }
        }
      }

      .links-list {
        margin-bottom: 36px;
        padding: 0 12px;

        &-item {
          margin-bottom: 16px;

          a {
            @include flex(start);
            @include text-style(button);

            .icon-arrow {
              @include flex;
              padding-left: 16px;
            }

            &:focus {
              opacity: 0.6;
            }

            &:hover {
              opacity: 0.6;
            }
          }
        }
      }

      .copyright {
        @include text-style(copyright);
        padding: 8px 12px;
      }
    }
  }
}
