* {
  margin: 0;
  box-sizing: border-box;
  font-family: $font-main;
  color: $ghost-white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::selection {
  color: $ghost-white;
  background-color: $purple-dark;
}

html {
  font-family: $font-main;
  font-size: $spacing-r-16;
  background-color: $bg;
}

body {
  display: flex;
  font-family: $font-main;
  color: $ghost-white;
  accent-color: $purple-dark;
}

h1 {
  margin: 0;
  font-family: $font-heading;
}

a {
  color: inherit;
  text-decoration: none;
}

button,
input,
select,
textarea {
  background-color: transparent;
  border: 0;

  &:focus {
    outline: none;
    box-shadow: none;
  }
}

a,
button {
  cursor: pointer;
}

button {
  padding: 0;
}

ul,
ol {
  padding-left: 0;
  list-style: none;
}

address {
  font-style: none;
}

progress {
  background-color: transparent;

  &::-webkit-progress-inner-element,
  &::-webkit-progress-bar {
    background-color: transparent;
  }

  /* Firefox */
  &::-moz-progress-bar,
  &::-moz-progress-value {
    background-color: transparent;
  }
}
