$sidebar-logo-height: 58px;
$sidebar-nav-height: 156px;
$sidebar-links-height: 264.773px;
$sidebar-tocs-margin-top-md: 43vw;
$sidebar-tocs-margin-top-lg: 46.35vw;

.blog-post {
  &-header {
    @extend %divider;

    .title {
      margin-bottom: 16px;

      span {
        @include text-style(heading-24);
      }
    }

    .desc {
      @include text-style(desc);
      margin-bottom: $spacing-r-16;
    }

    .post-image {
      @include flex;
      position: relative;
      padding: $spacing-r-16 0;
      margin-bottom: $spacing-r-16;
      // width: calc(100vw - ($gutter + $sm-margin * 2));
      // height: calc((100vw - ($gutter + $sm-margin * 2)) * 0.75);
      overflow: hidden;

      img {
        border-radius: $radius-4;
        object-fit: cover;
      }
    }

    .header-bottom {
      @include column-flex(start, start);

      .misc {
        @include flex(start);
        margin-bottom: $spacing-r-16;

        &-date,
        &-reading-time {
          @include inline-flex;

          .icon-wrapper {
            @include inline-flex;
            margin-right: $spacing-r-4;
            padding: $spacing-r-2;

            svg {
              width: 100%;
              height: 100%;
            }
          }
        }

        &-date {
          margin-right: $spacing-r-8;

          .date {
            @include text-style(misc-12);
          }

          .icon-wrapper {
            width: 20px;
            height: 21.6px;
          }
        }

        &-reading-time {
          .reading-time {
            @include text-style(misc-12);
          }

          .icon-wrapper {
            width: 20px;
            height: 20px;
          }
        }
      }
    }
  }

  &-content {
    margin-bottom: $spacing-r-108;

    &-toc {
      &::after {
        @extend %divider;
      }

      &-wrapper {
        margin-left: $spacing-r-24;
      }

      .toc-title {
        @include text-style(blog-content-heading-24);
        margin-bottom: $spacing-r-16;
      }

      .toc-list {
        &-item {
          // h2, h3
          .toc-list {
            margin-left: $spacing-r-8;
          }

          .toc-link {
            @include text-style(body);
          }
        }
      }
    }

    // headings
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      position: relative;

      .anchor {
        @include pos-center-y;
        @include flex(start);
        left: -22px;
        width: 100%;
        height: 100%;
        z-index: 108;
        opacity: 0;
        transition: opacity 200ms ease-in-out;

        &:hover {
          opacity: 0.6;
        }
      }
    }

    h1 {
      @include text-style(blog-content-heading-24, $white);
      margin: $spacing-r-48 0 $spacing-r-24;
    }

    h2 {
      @include text-style(blog-content-heading-20, $white);
      margin: $spacing-r-36 0 $spacing-r-16;
    }

    h3 {
      @include text-style(subtitle, $white);
      margin: $spacing-r-24 0 $spacing-r-12;
    }

    h4 {
      @include text-style(blog-content-heading-14, $white);
      margin: $spacing-r-16 0 $spacing-r-8;
    }

    h5 {
      @include text-style(blog-content-heading-12, $white);
      margin: $spacing-r-12 0 $spacing-r-4;
    }

    h6 {
      @include text-style(blog-content-heading-12, $white);
      margin: $spacing-r-8 0 $spacing-r-2;
    }

    // lists
    ol,
    ul {
      margin: $spacing-r-36 0;
      padding-left: $spacing-r-24;

      li {
        @include text-style(body);

        &::marker {
          text-align: end;
          color: $grey-3;
        }

        ul {
          margin: $spacing-r-12 0;
          padding-left: $spacing-r-12;
        }
      }
    }

    ol {
      list-style: decimal-leading-zero;

      li {
        margin: $spacing-r-16 0;

        &::marker {
          @include text-style(blog-content-heading-12);
          font-style: italic;
          opacity: 0.6;
        }
      }
    }

    ul {
      list-style: disc;

      &:first-child {
        list-style: none;
      }

      li {
        display: list-item;
        margin: $spacing-r-12 0;
      }
    }

    // texts
    p {
      @include text-style(body);
      margin: $spacing-r-16 0;

      strong {
        color: $white;
        font-weight: $font-weight-bold;
      }

      ins {
        text-decoration-color: rgba($ghost-white, 0.4);
      }

      del {
        text-decoration-thickness: 1px;
        color: $grey-1;
      }

      a {
        @include inline-flex;
        @include text-style(body);
        position: relative;
        text-decoration-line: underline;
        text-decoration-thickness: 2px;
        text-decoration-color: rgba($purple-dark, 0.6);
        transition: color 400ms $ease-in-out-quart;

        &:hover {
          color: $purple-dark;
        }
      }

      // inline code
      code {
        @include text-style(misc-14);
        padding: $spacing-r-2 $spacing-r-4;
        font-weight: $font-weight-bold;
        border: 1px solid $border;
        border-radius: $radius-4;
        background-color: rgba($bg-card, 0.6);

        &::before,
        &::after {
          content: '`';
        }
      }

      // image
      img {
        @include flex;
        margin: $spacing-r-54 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    blockquote {
      @include text-style(body, $white);
      margin: $spacing-r-48 0;
      padding-left: $spacing-r-16;
      border-left: 4px solid $border;
    }

    // code block
    [data-rehype-pretty-code-fragment] {
      margin: $spacing-r-48 0;
      border: 1px solid $border;
      border-radius: $radius-4;
      background-color: $bg-badge;
      overflow: hidden;

      [data-rehype-pretty-code-title] {
        @include inline-flex;
        @include text-style(desc);
        padding: $spacing-r-12;
        border-bottom: 4px solid $grey-1;
        background-color: $bg-card;
      }
    }

    .code-block {
      position: relative;
      background-color: $bg-card;

      &:hover {
        .code-copy-button {
          @include flex;
          opacity: 1;
        }
      }

      .code {
        padding: $spacing-r-16 $spacing-r-24 $spacing-r-24;
        border-radius: $radius-4;
        background-color: $bg-card;
        overflow-x: scroll;
        -ms-overflow-style: none; /* Edge */
        scrollbar-width: none; /* Firefox */

        &::-webkit-scrollbar {
          display: none;
        }

        code {
          .line {
            &.line--highlighted {
              position: relative;
              margin-left: -#{$spacing-r-24};
              margin-right: $spacing-r-24;
              padding: 0 $spacing-r-24;
              border-left: 6px solid $sunflower;
              background-color: $bg-badge;
            }

            span {
              @include text-style(misc-14);
              font-weight: $font-weight-misc-main;
            }
          }
        }
      }

      .code-copy-button {
        opacity: 0;
        position: absolute;
        bottom: 8px;
        right: 8px;
        padding: $spacing-r-8;
        border-radius: $radius-4;
        background-color: rgba($bg-badge, 0.2);
        backdrop-filter: $blur-4;
        transition: opacity 300ms $ease-in-out-quart;

        svg {
          display: block;
          width: 16px;
          height: 16px;
        }
      }
    }

    // table
    table {
      width: 100%;
      border-collapse: collapse;
      margin-bottom: $spacing-r-48;

      thead {
        border-bottom: 2px solid $grey-1;

        tr {
          th {
            @include text-style(subtitle, $white);
          }
        }
      }

      tbody {
        tr {
          border-bottom: 1px solid $border;

          th {
            @include text-style(body);
          }
        }
      }

      tr {
        th,
        td {
          text-align: left;
          vertical-align: middle;

          &:not(:first-child),
          &:not(:last-child) {
            padding: $spacing-r-2 $spacing-r-8 $spacing-r-8 $spacing-r-8;
          }

          &:first-child {
            padding: $spacing-r-2 $spacing-r-8 $spacing-r-8 $spacing-r-2;
          }

          &:last-child {
            padding: $spacing-r-2 $spacing-r-2 $spacing-r-8 $spacing-r-8;
          }

          &[align='right'] {
            text-align: right;
            vertical-align: middle;
          }
        }
      }
    }

    // divider
    hr {
      @extend %divider-hr;
    }
  }

  @include responsive(T) {
    &-header {
      .title {
        span {
          @include text-style(heading-32);
        }
      }

      .post-image {
        padding: $spacing-r-24 0;
        margin-bottom: $spacing-r-16;

        img {
          border-radius: $radius-8;
        }
      }

      .header-bottom {
        flex-direction: row;
        align-items: center;

        .misc {
          margin-bottom: 0;
          margin-right: $spacing-r-36;

          &-date {
            margin-right: $spacing-r-12;

            .icon-wrapper {
              width: 22px;
              height: 24px;
            }
          }

          &-reading-time {
            .icon-wrapper {
              width: 24px;
              height: 24px;
            }
          }
        }
      }
    }

    &-content {
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        .anchor {
          .icon.icon-link {
            @include flex;
            width: 16px;
            height: 16px;
            z-index: 108;
            background-image: url(../../public/icons/hashtag.svg);
            background-repeat: no-repeat;
            background-position: center;
            object-fit: cover;
          }
        }
      }

      &-toc {
        position: absolute;
        top: calc(
          $sidebar-logo-height + $sidebar-nav-height + $sidebar-links-height +
            $sidebar-tocs-margin-top-md
        );
        left: calc($md-margin + ($gutter / 2));
        z-index: 108;
        width: calc(percentage(3 / $md-columns) - ($gutter * 2));
        // height: 100%;
        padding: 0 $gutter / 2;
        overflow-wrap: break-word;

        &-wrapper {
          position: sticky;
          top: 108px;
          margin-left: 0;
        }

        &::after {
          content: '';
        }

        .toc-list {
          &-item {
            &.is-active-li {
              .toc-link {
                border-bottom: 1px solid rgba($ghost-white, 0.6);
                padding-bottom: 0.025rem;

                &.is-active-link {
                  color: $purple-dark;
                  border-bottom: 1px solid $purple-dark;
                  padding-bottom: 0.025rem;
                }
              }
            }
          }
        }

        .toc-title {
          @include text-style(subtitle);
          margin-top: 0;
        }

        .toc-list-wrppaer {
          height: 100%;
        }
      }

      .code-block {
        .code {
          code {
            .line {
              &.line--highlighted {
                display: block;
                width: 110%;
              }
            }
          }
        }
      }
    }
  }

  @include responsive(D) {
    &-header {
      .desc {
        margin-bottom: $spacing-r-24;
      }

      .post-image {
        padding: $spacing-r-36 0;
        margin-bottom: $spacing-r-16;

        img {
          border-radius: $radius-12;
        }
      }

      .misc {
        &-date,
        &-reading-time {
          .icon-wrapper {
            margin-right: $spacing-r-8;
          }
        }

        &-date {
          .date {
            @include text-style(misc-14);
          }

          .icon-wrapper {
            width: 30px;
            height: 32px;
          }
        }

        &-reading-time {
          .reading-time {
            @include text-style(misc-14);
          }

          .icon-wrapper {
            width: 24px;
            height: 24px;
          }
        }
      }
    }

    &-content {
      &-toc {
        top: calc(
          $sidebar-logo-height + $sidebar-nav-height + $sidebar-links-height +
            $sidebar-tocs-margin-top-lg
        );
        left: calc((100vw - $lg-max-container) / 2);
      }

      // headings
      h1 {
        font-size: $font-size-heading-32;
        margin: $spacing-r-54 0 $spacing-r-36;
      }

      h2 {
        font-size: $font-size-heading-24;
        margin: $spacing-r-48 0 $spacing-r-24;
      }

      h3 {
        font-size: $font-size-heading-20;
        margin: $spacing-r-36 0 $spacing-r-16;
      }

      h4 {
        font-size: $font-size-subtitle;
        margin: $spacing-r-24 0 $spacing-r-12;
      }

      h5 {
        font-size: $font-size-heading-14;
        margin: $spacing-r-16 0 $spacing-r-8;
      }

      h6 {
        font-size: $font-size-heading-12;
        margin: $spacing-r-12 0 $spacing-r-4;
      }
    }
  }
}
