.blog-post {
  &-header {
    @extend %divider;

    .title {
      margin-bottom: 16px;

      span {
        @include text-style(heading-32);
      }
    }

    .desc {
      @include text-style(desc);
      margin-bottom: 16px;
    }

    .post-image {
      @include flex;
      position: relative;
      margin-bottom: 16px;
      // width: calc(100vw - ($gutter + $sm-margin * 2));
      // height: calc((100vw - ($gutter + $sm-margin * 2)) * 0.75);
      border-radius: 4px;
      overflow: hidden;

      img {
        object-fit: cover;
      }
    }

    .misc {
      margin-bottom: 16px;

      &-date,
      &-reading-time {
        @include inline-flex;

        .icon-wrapper {
          @include inline-flex;
          margin-right: 4px;
          padding: 2px;
          width: 20px;
          height: 21.6px;

          svg {
            width: 100%;
            height: 100%;
          }
        }
      }

      &-date {
        margin-right: 8px;

        .date {
          @include text-style(misc-12);
        }
      }

      &-reading-time {
        .reading-time {
          @include text-style(misc-12);
        }
      }
    }
  }

  &-content {
    &-toc {
      &::after {
        @extend %divider;
      }

      &-wrapper {
        margin-left: 24px;
      }

      .toc-title {
        @include text-style(blog-content-heading-24);
        margin-bottom: 16px;
      }

      .toc-list {
        &-item {
          // h2, h3
          .toc-list {
            margin-left: 8px;
          }

          .toc-link {
            @include text-style(body);
          }
        }
      }
    }

    h1,
    h2,
    h3 {
      position: relative;

      .anchor {
        @include pos-center-y;
        @include flex(start);
        left: -22px;
        width: 100%;
        height: 100%;
        z-index: 108;
        opacity: 0;
        transition: opacity 200ms ease-in-out;

        &:hover {
          opacity: 0.6;
        }

        .icon.icon-link {
          @include flex;
          width: 16px;
          height: 16px;
          background-image: url(../../public/icons/hashtag.svg);
          background-repeat: no-repeat;
          background-position: center;
          object-fit: cover;
        }
      }
    }

    h1 {
      @include text-style(blog-content-heading-24);
      margin: 54px 0 24px;
    }

    h2 {
      @include text-style(blog-content-heading-20);
      margin: 48px 0 16px;
    }

    h3 {
      @include text-style(subtitle);
      margin: 36px 0 12px;
    }

    p {
      @include text-style(body);
    }

    a {
      @include text-style(body);
    }

    hr {
      @extend %divider-hr;
    }
  }

  @include responsive(T) {
    $sidebar-logo-height: 58px;
    $sidebar-nav-height: 156px;
    $sidebar-links-height: 264.773px;
    $sidebar-toc-margin-top: 108px;

    &-content {
      &-toc {
        position: absolute;
        top: $sidebar-logo-height + $sidebar-nav-height + $sidebar-links-height +
          $sidebar-toc-margin-top;
        left: calc($md-margin + ($gutter / 2));
        z-index: 108;
        width: calc(percentage(3 / $md-columns) - ($gutter * 2));
        // height: 100%;
        padding: 0 $gutter / 2;
        overflow-wrap: break-word;

        &-wrapper {
          position: sticky;
          top: 108px;
          margin-left: 0;
        }

        &::after {
          content: '';
        }

        .toc-list {
          &-item {
            &.is-active-li {
              .toc-link {
                border-bottom: 1px solid rgba($ghost-white, 0.6);
                padding-bottom: 0.4px;

                &.is-active-link {
                  color: $purple-dark;
                  border-bottom: 1px solid $purple-dark;
                  padding-bottom: 0.4px;
                }
              }
            }
          }
        }

        .toc-title {
          @include text-style(subtitle);
          margin-top: 160%;
        }

        .toc-list-wrppaer {
          height: 100%;
        }
      }
    }
  }

  @include responsive(D) {
    &-content {
      &-toc {
        left: calc((100vw - $lg-max-container) / 2);

        .toc-title {
          margin-top: 177%;
        }
      }
    }
  }
}
