.blog {
  padding: $content-padding 0;

  &-title {
    @include text-style(heading-32);
    margin-bottom: $spacing-r-54;
  }

  &-list-post {
    width: 100%;

    &-wrapper {
      @include column-flex;
      padding: $spacing-r-16;
      margin-bottom: $spacing-r-48;
      opacity: 0.9;
      border-radius: $radius-4;
      border: 1px solid $border;
      background-color: transparent;
      transition: opacity 200ms $ease-in-out-quart,
        background-color 200ms $ease-in-out-quart;

      &:hover,
      &:focus {
        opacity: 1;
        background-color: $bg-card;
        outline: none;
      }
    }

    .post-image {
      @include flex;
      position: relative;
      border-radius: $radius-4;
      margin-bottom: $spacing-r-24;
      overflow: hidden;
      min-width: 256px;
      min-height: 192px;

      img {
        object-fit: cover;
      }
    }

    .post-content {
      @include inline-flex(center, start);
      flex-direction: column;

      .text-group {
        margin-bottom: $spacing-r-16;

        .title {
          margin-bottom: $spacing-r-8;

          span {
            @include text-style(heading-24);
          }
        }

        .desc {
          @include text-style(desc);
          display: -webkit-box;
          overflow: hidden;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 3;
          white-space: pre-wrap;
        }
      }

      .misc {
        margin-bottom: $spacing-r-16;

        &-date,
        &-reading-time {
          @include inline-flex;

          .icon-wrapper {
            @include inline-flex;
            margin-right: $spacing-r-4;
            padding: $spacing-r-2;
            width: 20px;
            height: 21.6px;

            svg {
              width: 100%;
              height: 100%;
            }
          }
        }

        &-date {
          margin-right: $spacing-r-8;
        }

        .date,
        .reading-time {
          @include text-style(misc-12);
        }
      }

      .tags-list {
        &-item {
          @include inline-flex;
          @include text-style(misc-14);
          padding: 0 $spacing-r-8;
          height: 24px;
          border-radius: $radius-4;
          background-color: $bg-badge;

          &:not(:last-child) {
            margin-right: $spacing-r-8;
          }
        }
      }
    }
  }

  @include responsive(T) {
    &-list-post {
      @include flex(start);
      flex-wrap: nowrap;

      .post-image {
        @include inline-flex;
        margin: 0 $spacing-r-16 0 0;
        min-width: 208px;
        max-width: 348px;
        min-height: 156px;
        max-height: 261px;
      }
    }
  }
}
