.blog {
  &-title {
    @include text-style(heading-32);
    margin-bottom: $spacing-r-54;
  }

  &-list-item {
    width: 100%;

    &-wrapper {
      @include column-flex;
      padding: $spacing-r-16;
      margin-bottom: $spacing-r-48;
      opacity: 0.9;
      border-radius: $radius-8;
      border: 1px solid $border;
      background-color: transparent;
      transition: opacity 200ms $ease-in-out-quart,
        background-color 200ms $ease-in-out-quart;

      &:hover,
      &:focus {
        opacity: 1;
        background-color: $bg-card;
        outline: none;
      }
    }

    .item-image {
      @include flex;
      position: relative;
      border-radius: $radius-4;
      margin-bottom: $spacing-r-24;
      overflow: hidden;
      min-width: 256px;
      min-height: 192px;

      img {
        object-fit: cover;
      }
    }

    .item-content {
      @include inline-flex(center, start);
      flex-direction: column;

      .text-group {
        margin-bottom: $spacing-r-16;

        .title span,
        .desc {
          display: -webkit-box;
          overflow: hidden;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2;
          white-space: pre-wrap;
          text-overflow: ellipsis;
        }

        .title {
          margin-bottom: $spacing-r-8;

          span {
            @include text-style(heading-24);
          }
        }

        .desc {
          @include text-style(desc);
        }
      }

      .misc {
        margin-bottom: $spacing-r-16;

        &-date,
        &-reading-time {
          @include inline-flex;

          .icon-wrapper {
            @include inline-flex;
            margin-right: $spacing-r-4;
            padding: $spacing-r-2;
            width: 20px;
            height: 21.6px;

            svg {
              width: 100%;
              height: 100%;
            }
          }
        }

        &-date {
          margin-right: $spacing-r-8;
        }

        .date,
        .reading-time {
          @include text-style(misc-12);
        }
      }

      .tags-list {
        @include flex(start);
        flex-wrap: wrap;
        gap: $spacing-r-8;
      }
    }
  }

  @include responsive(TL) {
    &-list-item {
      @include flex(start);
      flex-wrap: nowrap;

      &-wrapper {
        padding: $spacing-r-16 $spacing-r-24;
      }

      .item-image {
        @include inline-flex;
        margin: 0 $spacing-r-16 0 0;
        min-width: 28vw;
        min-height: 21vw;
        border-radius: $radius-8 $radius-4 $radius-4 $radius-8;
      }
    }
  }

  @include responsive(D) {
    &-list-item {
      &-wrapper {
        padding: $spacing-r-24 $spacing-r-36;
      }

      .item-image {
        min-width: 246px;
        min-height: 184.5px;
        border-radius: $radius-12 $radius-8 $radius-8 $radius-12;
      }
    }
  }
}
