.content {
  padding: $spacing-r-36 0;
  transition: all 700ms 500ms $ease-in-out-quart;

  &:focus {
    outline: none;
  }

  @include responsive(T) {
    padding: $spacing-r-48 0;
  }

  @include responsive(T) {
    padding: $spacing-r-54 0;
  }
}
