.footer {
  padding: $spacing-r-54 0;
  max-width: 400px;

  .email {
    @include flex(between);
    display: inline-block;
    margin-bottom: $spacing-r-36;
    padding: $spacing-r-8 $spacing-r-16;
    border-radius: $radius-4;
    background-color: $bg;
    transition: background-color 350ms $ease-in-out-quart;

    &-text {
      @include text-style(button);
      position: relative;
      overflow: hidden;

      &::after {
        content: '';
        display: inline-block;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 6px;
        background-image: url('../../public/images/link-underline.svg');
        background-repeat: no-repeat;
        opacity: 0.6;
        transition: opacity 150ms ease-in-out;
      }
    }

    &:hover {
      background-color: rgba($green, 0.6);

      .email-text {
        &::after {
          opacity: 0;
        }
      }
    }
  }

  .links-list {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    margin: 0 auto $spacing-r-36;
    padding: 0 $spacing-r-12;
    max-width: 280px;

    &-item {
      margin-bottom: $spacing-r-16;

      .item-text {
        @include text-style(button);
        width: 70px;
      }
    }
  }

  .copyright {
    @include text-style(link, rgba($ghost-white, 0.6));
    padding: $spacing-r-8 $spacing-r-12;
    text-align: end;
    font-style: italic;
  }

  @include responsive(S) {
    max-width: 100%;
    margin-bottom: $spacing-r-54;

    .links-list {
      grid-template-rows: 1fr;
      grid-template-columns: repeat(4, 1fr);
      //   padding: 0 16px;
      max-width: 100%;
      gap: 8px;

      &-item {
        margin-bottom: 0;

        .item-text {
          width: 60px;
        }
      }
    }
  }
}
