.home {
  &-title {
    span {
      @include text-style(heading-32);
      margin-bottom: $spacing-r-36;
    }
  }

  p {
    @include text-style(body);
    margin-bottom: $spacing-r-16;

    &:last-child {
      margin-bottom: $spacing-r-48;
    }
  }
}
