$circle-base-size: 120px;

%circle-base {
  content: '';
  @include pos-center-y;
  flex-shrink: 0;
  width: $circle-base-size;
  height: $circle-base-size;
  border-radius: 50%;
  filter: $blur-48;

  @include responsive(T) {
    width: $circle-base-size * 2;
    height: $circle-base-size * 2;
  }

  @include responsive(D) {
    width: $circle-base-size * 3;
    height: $circle-base-size * 3;
  }
}

.post-nav {
  @include column-flex;
  margin-bottom: 54px;
  background-color: $bg;

  &-next,
  &-prev {
    @include flex;
    position: relative;
    padding: 0 16px;
    width: 100%;
    height: 108px;
    overflow: hidden;
    transition: background-color 350ms $ease-in-out-quart,
      transform 350ms $ease-in-out-quart;
  }

  &-next {
    &::before {
      @extend %circle-base;
      left: -28vw;
      background-color: $main-purple;
      transition: width 350ms $ease-in-quart, height 350ms $ease-in-quart,
        left 400ms $ease-out-quart;
    }

    &:hover {
      &::before {
        left: 0vw;
      }

      .post-nav-next-icon {
        transform: translateX(8px);
      }
    }

    &:active {
      background-color: $main-purple;

      &::before {
        width: $circle-base-size * 2;
        height: $circle-base-size * 2;
      }
    }
  }

  &-prev {
    flex-direction: row-reverse;

    &::after {
      @extend %circle-base;
      right: -28vw;
      background-color: $main-cambridge-blue;
      transition: width 350ms $ease-in-quart, height 350ms $ease-in-quart,
        right 400ms $ease-out-quart;
    }

    &:hover {
      &::after {
        right: 0vw;
      }

      .post-nav-prev-icon {
        transform: translateX(-8px);
      }
    }

    &:active {
      background-color: $main-cambridge-blue;

      &::after {
        width: $circle-base-size * 2;
        height: $circle-base-size * 2;
      }
    }
  }

  &-next-text,
  &-prev-text {
    flex-grow: 1;
    mix-blend-mode: difference;

    .subtitle {
      @include text-style(misc-sm);
      margin-bottom: 4px;
      opacity: 0.6;
    }

    .title {
      @include text-style(heading-20);
    }
  }

  &-next-text {
    @include column-flex(center, end);
    margin-right: 24px;

    .title {
      text-align: end;
    }
  }

  &-prev-text {
    @include column-flex(center, start);
    margin-left: 16px;

    .title {
      text-align: start;
    }
  }

  &-next-icon,
  &-prev-icon {
    @include flex;
    flex-shrink: 1;

    svg {
      width: 30px;
      height: 55px;
      color: $lavender;
    }
  }

  &-prev-icon {
    svg {
      transform: rotate(180deg);
    }
  }

  @include responsive(T) {
    margin-bottom: 72px;

    &-next {
      &::before {
        left: -22vw;
      }

      &:hover {
        &::before {
          left: -10vw;
        }
      }

      &:active {
        &::before {
          width: $circle-base-size * 3;
          height: $circle-base-size * 3;
        }
      }
    }

    &-prev {
      &::after {
        right: -24vw;
      }

      &:hover {
        &::after {
          right: -12vw;
        }
      }

      &:active {
        &::after {
          width: $circle-base-size * 3;
          height: $circle-base-size * 3;
        }
      }
    }
  }

  @include responsive(D) {
    margin-bottom: 108px;

    &-next {
      &::before {
        left: -16vw;
      }

      &:hover {
        &::before {
          left: -8vw;
        }
      }

      &:active {
        &::before {
          width: $circle-base-size * 3;
          height: $circle-base-size * 3;
        }
      }
    }

    &-prev {
      &::after {
        right: -18vw;
      }

      &:hover {
        &::after {
          right: -10vw;
        }
      }

      &:active {
        &::after {
          width: $circle-base-size * 3;
          height: $circle-base-size * 3;
        }
      }
    }
  }
}
