.sidebar {
  @include flex(between);
  margin-bottom: $spacing-r-54;
  width: 100%;
  height: $sidebar-height-sm;
  z-index: 108;
  background-color: rgba($bg, 0.6);
  backdrop-filter: blur(10px);

  &-logo {
    padding: $spacing-r-8;

    a {
      @include flex;
    }
  }

  &-nav {
    &-list {
      @include flex;

      a {
        @include flex;
        transition: all 400ms 200ms ease-in-out;

        &:hover {
          font-weight: 600;
          opacity: 1;
        }
      }

      .menu-active {
        font-weight: 600;
        opacity: 1;
      }

      .menu-inactive {
        font-weight: 300;
        opacity: 0.6;
      }

      &-item {
        @include text-style(button);
        position: relative;
        padding: $spacing-r-8 $spacing-r-12;

        .menu-dynamic-bg {
          position: absolute;
          inset: 0;
          border-radius: $radius-4;
          background-color: rgba($ghost-white, 0.1);
        }
      }
    }
  }

  @include responsive(T) {
    @include column-flex(start, start);
    position: sticky;
    height: 100%;
    padding: $vertial-padding-from-md 0;
    background-color: $bg;
    backdrop-filter: 0;

    &-logo {
      margin-bottom: $spacing-r-36;
    }

    &-nav {
      &-list {
        @include column-flex(start, start);
        margin-bottom: $spacing-r-36;

        &-item {
          font-size: 20px;
        }
      }
    }

    &-links {
      .email {
        @include text-style(button);
        display: inline-block;
        position: relative;
        margin-bottom: $spacing-r-36;
        padding: $spacing-r-8 $spacing-r-12;
        border-radius: $radius-4;
        transition: background-color 350ms $ease-in-out-quart;

        &::after {
          content: url(../../public/images/link-underline.svg);
          position: absolute;
          top: 12px;
          left: 8px;
          transition: opacity 150ms ease-in-out;
        }

        &:hover {
          background-color: rgba($green, 0.6);

          &::after {
            opacity: 0;
          }
        }
      }

      .links-list {
        margin-bottom: $spacing-r-36;
        padding: 0 $spacing-r-12;

        &-item {
          margin-bottom: $spacing-r-16;

          .item-text {
            @include text-style(button);
            width: 70px;
          }
        }
      }

      .copyright {
        @include text-style(link, rgba($ghost-white, 0.6));
        padding: $spacing-r-8 $spacing-r-12;
      }
    }
  }
}
