$main-purple: #331b3f;
$main-cambridge-blue: #acc7b4;
$main-coral: #fa825b;

$ghost-white: #f0eff4;
$white: #fbfffe;

$bg: #151515;
$border: #2e2e31;
$bg-card: #222;
$bg-badge: #333;

$green: #7fd1ae;
$purple-dark: #8682fe;
$purple-light: #d5d1e8;
$lavender: #7d7483;
