$sidebar-height-sm: 64px;
$content-padding: $spacing-r-108 - $spacing-r-72;
$vertial-padding-from-md: $spacing-r-108;

$divider-margin-top-bottom-sm: $spacing-r-54;
$divider-margin-top-bottom-md: $spacing-r-72;
$divider-margin-top-bottom-lg: $spacing-r-108;
